.guilds-wrapper .guilds .guild.unread:before {
	animation: pulse6 2s linear infinite!important;
}
@keyframes pulse6{
    0%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px rgba(255,0,0,1);}
    100%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
}
.theme-dark .unread-1Dp-OI { /*Unread Message dot Color*/
	background-color: rgba(220,0,0,1) !important;
	animation: pulse7 2s linear infinite !important;
}
@keyframes pulse7{ /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px rgba(255,0,0,1);}
    100%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
}