/****************************************************************
*******************Avatar's and Statuses Section****************
****************************************************************/
@keyframes pulse1{ /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px #43B581);}
    100%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
}
@keyframes pulse2{ /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px #FAA61A;}
    100%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
}
@keyframes pulse3{ /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px #F04747;}
    100%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
}
@keyframes pulse5{ /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{box-shadow: 1px 1px 1px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px #747F8D;}
    100%{box-shadow: 1px 1px 1px rgba(0,0,0,0);}
}
/*Profile Role Shadow*/
.message-group .user-name::before{
	content: '';
	display: inline-block;
	position: absolute;
	left: -5px;
	top: 27px;
	width: 55px;
	height: 54px;
	background: transparent;
	border-radius: 0px 8px 0px 8px;
	animation: pulse-45J42t var(--profile-pulse-speed) linear infinite;
	pointer-events: inherit;
	transition: all var(--on-off-transitions) ease-in-out !important;
}