.message-group .avatar-large:hover { /*Profile Image Animation Hovered*/
	width           : var(--chatavatar-size-on-hover) !important;
	height          : var(--chatavatar-size-on-hover) !important;
	border          : 1px solid (0,0,0,0) !important;
	border-radius   : 0px !important;
	background-size : cover !important;
	transition      : all .4s ease !important;
	opacity         : 1 !important;
	animation       : pulse 2.5s linear infinite;
}
@keyframes pulse{ /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{box-shadow: 1px 1px 20px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px rgba(101,39,170,1);}
    100%{box-shadow: 1px 1px 20px rgba(0,0,0,0);} 
}